@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{
    --background-color:#ff7200;
    --whatsapp-color:#20c47a;
    --facebook-color:#3c5998;
    --snapchat-color:#fff80d;
    --messanger-color:#0266ff;
    --twitter-color:#02aced;
    --vk-color:#6c9cd3;
    --kakao-color:#fbe300;
    --line-color:#00b900;
    --instagram-color:linear-gradient(to right, #db7a48 , #b33376);
    --line-share-color:#00b900;
    --color-white:white;
    --share-table-data-color:#f0ebeb;
    --box-shadow:0px 6px 4px #d4d4d4;
}

html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}

*,*:hover,*:focus,*:active{
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}

.root{
    min-height: 100%;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 10px;
    transition: 0.7s all;
}

.menu_link div{
    width: 40px;
    height: 4px;
    background-color: var(--color-white);
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.5s all;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    width: 27px !important;
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -4px);
    transform: rotate(45deg) translate(-7px, -4px);
    width: 27px !important;
}

.open_links{
    position: absolute;
    width: 220px;
    background: var(--background-color);
    height: 200px;
    z-index: 0;
    top: -25px;
    left: -38px;
    border-radius: 0px 30% 60% 30%; 
    transition: 0.7s all;
}

.open_links_padding_bottom{
    padding-bottom: 140px;
    transition: 0.7s all;
}

.link_list{
    position: relative;
    margin-top: 50px;
    margin-left: 70px;
}

.link{
    position: absolute;
    cursor: pointer;
}

.link_home{
    right: 21px;
    color:white;
    font-weight: bold;
    top: 10px;
}

.link_about{
    right: 35px;
    color:white;
    font-weight: bold;
    top: 40px;
}

.link_contact{
    right: 50px;
    color:white;
    font-weight: bold;
    top: 70px;
}

.link_faq{
    right: 100px;
    color:white;
    font-weight: bold;
    top: 105px;
}

.left_circle{
    position: absolute;
    width: 65px;
    background: var(--background-color);
    height: 55px;
    z-index: -1;
    top: -5px;
    left: 0px;
    border-radius: 0px 0px 50px;
    transition: 0.7s all;
}

.right_circle{
    position: absolute;
    width: 58px;
    background: var(--background-color);
    height: 55px;
    z-index: -1;
    top: -5px;
    right: 0px;
    border-radius: 0px 0px 0px 50px;
}

.menu_link{
    cursor: pointer;
    width:50px;
    transition: 0.7s all;
    z-index: 1;
}

.menu_link div:first-child{
    width: 35px;
}

.menu_link div:last-child{
    margin-bottom: 0px;
    width: 25px;
}

.change_language{
    width: 25px;
    cursor: pointer;
}

.change_language > a > img {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 50%;
}

.main_container{
    padding: 10px 10px 150px 10px;
}

.home_heading{
    color: var(--background-color);
    font-size: 18px;
    padding: 0px 10px;
    font-weight: bold;
}

.select_language{
    position: absolute;
    right: -13px;
    top: 1px;
    opacity: 0;
    width: 56px;
    cursor: pointer;
    height: 38px;
}

.home_subheading{
    padding: 12px 0px;
}

.home_enter_name{
    border: none;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: 100%;
}

.real_love_page{
    margin-bottom: 10px;
}

.enter_name_div{
    background-color: var(--share-table-data-color);
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    margin: 0px auto 10px;
    width: 90%;
}

.error{
    color: red;
    font-weight:bold;
    visibility: hidden;
    font-size: 13px;
    margin-top: 5px;
}

.male_svg{
    display: inline-block;
    background-color:#cfcfcf;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    height: 45px;
}

.female_svg{
    display: inline-block;
    background-color:#cfcfcf;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    height: 45px;
}

.male_svg > img,.female_svg>img{
    margin-top: 5px;
} 

.select{
    background-color: var(--background-color);
}

.select_gender_error{
    font-size: 13px;
    color:red;
    font-weight: bold;
    margin: 8px;
}

.love_percentage{
    color: var(--background-color);
    font-weight: bold;
    margin: 8px 0px 10px;
}

.love_percentage_gif{
    margin: 5px auto;
    width: max-content;
    position: relative;
}

.love_percentage_gif span{
    position: absolute;
    bottom: 40px;
    right: 9px;
    font-size: 13px;
    color:white;
    font-weight: bold;
}

.real_lovemeter_button{
    margin: 10px auto;
    background-color: var(--background-color);
    border: none;
    padding: 8px 35px;
    width: 70%;
    color: var(--color-white);
    border-radius: 12px;
    font-size: 18px;
    box-shadow: var(--box-shadow);
}

.register_new_prank_friends{
    font-weight: bold;
    margin: 0px 0px 0px;
}

.home_subheading_text{
    padding: 0px 10px 10px 0px;
}

.whatsapp_share,.whatsapp_share:hover,.whatsapp_share>a,.whatsapp_share>a:hover{
    background-color:var(--whatsapp-color);
    color: white;
}

.fb_share,.fb_share:hover,.fb_share>a,.fb_share>a:hover{
    color: white;
    background-color:var(--facebook-color);
}

.snapchat_share,.snapchat_share>a,.snapchat_share>a:hover{
    background-color:var(--snapchat-color);
    color: black;
}

.messanger_share,.messanger_share:hover,.messanger_share>a,.messanger_share>a:hover{
    color: white;
    background-color:var(--messanger-color);
}

.twitter_share,.twitter_share:hover,.twitter_share>a,.twitter_share>a:hover{
    color: white;
    background-color:var(--twitter-color);
}

.instagram_share,.instagram_share:hover{
    background:var(--instagram-color);
}

.instagram_share>a,.instagram_share>a:hover{
    color: white;
}

.line_share,.line_share:hover,.line_share>a,.line_share>a:hover{
    color: white;
    background-color:var(--line-color);
}

.kakao_share,.kakao_share>a,.kakao_share>a:hover{
    background-color:var(--kakao-color);
    color: black;
}

.kakao_share span ,.snapchat_share span{
    color:black
}

.whatsapp_share_icon{
    color: var(--color-white);
    text-align: center;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.whatsapp_share_icon > a > img{
    width: 27px;
}

.whatsapp_share_icon > a{
    vertical-align: middle;
    display: inline-block;
    color: var(--color-white);
}

.whatsapp_share_icon > a,.whatsapp_share_icon > a:hover{
    color: var(--color-white);
    text-decoration: none;
}

.share_icon{
    text-align: center;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.share_icon > a:hover{
    text-decoration: none;
}

.share_heading{
    font-size: 27px;
    color: var(--background-color);
    font-weight: bold;
}

.trash{
    cursor: pointer;
}

.fooled_heading{
    color: var(--background-color);
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

.fooled_subheading{
    padding: 10px;
    font-size: 18px;
}

.fooled_register_text{
    padding: 10px;
    font-weight: bold;
    color: var(--background-color);
    font-size: 18px;
}

.fooled_lovemeter_button{
    background-color: var(--background-color);
    border: none;
    padding: 8px 35px;
    width: 90%;
    color: var(--color-white);
    margin: 0px 10px 20px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: var(--box-shadow);
}

.fooled_gif{
    margin: 0 auto;
}

.fooled_gif > img {
    width: 230px;
}

.fooled_last_text{
    color: black !important;
}

.share_page_subheading{
    font-size: 16px;
}

.share_blank_data{
    background-color: var(--background-color);
    color: var(--color-white);
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    margin-top: 20px;
}

.share_icon:nth-child(2n){
   width: 49.25%;
   margin-left: 2px;
}

.share_icon:nth-child(2n+1){
    width: 49.25%;
    margin-right: 2px;
}

@media (min-width:500px){
    .share_icon:nth-child(2n){
        width: 49.58%;
        margin-left: 1px;
    }
     
    .share_icon:nth-child(2n+1){
         width: 49.58%;
         margin-right: 1px;
    }
}

@media (max-width:360px){
    .logo{
        width: 150px;
    }

    .logo > a > img{
        width: 100%;
    }
}

.share_icon > a > img{
    width: 27px;
}

.share_icon > a{
    width: 27px;
    vertical-align: middle;
}

.vk_share_icon{
    background-color: var(--vk-color);
    color: var(--color-white);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.vk_share_icon > a:hover{
    text-decoration: none;
    color: var(--color-white);
}

.share_link{
    background-color:#f0ebeb;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    clear: both;
}

.copy_link{
    background-color: var(--background-color);
    border: none;
    padding: 8px 35px;
    color: var(--color-white);
    margin: 0px 10px 10px 10px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: var(--box-shadow);
}

.genuine_lovemeter_button{
    background-color: var(--background-color);
    border: none;
    padding: 8px 35px;
    color: var(--color-white);
    margin: 10px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: var(--box-shadow);
}

.share_last_text{
    font-size: 22px;
    color: var(--background-color);
    font-weight: bold;
    padding: 10px;
}

.vk_share_icon > a > img {
    width: 27px;
}

.vk_share_icon > a{
    width: 27px;
    vertical-align: middle;
    color: var(--color-white);
}

.vk_share_icon > a > span{
    width: 27px;
    vertical-align: middle;
    color: var(--color-white);
}

.share_table_heading{
    display: flex;
    background-color: var(--background-color);
    color: var(--color-white);
    border-radius: 12px;
    padding: 10px;
    margin-top: 15px;
}

.share_table_heading div{
    flex: 1;
    font-size: 18px;
    word-break: break-word;
}

.share_table_data{
    display: flex;
    border-radius: 12px;
    padding: 10px;
    background-color: var(--share-table-data-color);
    margin-top: 5px;
}

.share_table_data div{
    font-size: 15px;
    flex:1;
    word-break: break-word;
}

.fooled_lovemeter_button:focus:not(:active)::after {
    animation: ripple 0.7s ease-out;
} 

.fooled_lovemeter_button{
    position: relative;
    overflow: hidden;
}

.share_gender{
    width: 25px;
    height: 25px;
    background-color: var(--background-color);
}

.share_gender img{
    margin-top: 0px;
}

.link_copied{
    color: red;
    text-align: center;
    font-weight: bold;
    visibility: hidden;
}
  
.fooled_lovemeter_button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}
  
@keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(100, 100);
    }
}

.social_links img{
    width:35px;
    margin: 3px;
    border-radius: 16%;
}

.footer_contents a,.footer_contents a:hover{
    margin: 0px 5px;
    color: var(--background-color);
    text-decoration: none;
}

.footer{
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px 15px;
    background-color: var(--share-table-data-color);
    border-radius: 10px 10px 0px 0px;
}

@media (min-width:750px){
    .open_links{
        width: 201px;
        height: 197px;
        top: -36px;
        left: 0px;
        border-radius: 0px 0% 60% 0%;
        transition: 0.7s all;
    }
}

@media (max-width:380px){
    .main_container{
        padding: 10px 10px 220px 10px;
    }
}
