<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pranked</title>
    <link rel="stylesheet" href="./style.css" />
    <!-- <link rel="stylesheet" href="./bootstrap.css" /> -->
</head>
<body>
<div class="root">
    <nav class="heading" id="menuHeading">
        <div class="menu_link" onclick="toggleMenu()" id="menuLinkHandler">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="left_circle" id="menuLink">
            <div class="link_list">
                <div class="link_home link">Home</div>
                <div class="link_about link">About</div>
                <div class="link_contact link">Contact</div>
                <div class="link_faq link">FAQ</div>
            </div>
        </div>
        <div class="logo">
            <a>
                <img src="logo.png"/>
            </a>
        </div>
        <div class="change_language" id="">
            <a>
                <img src="globe.png"/>
            </a>
        </div>
        <select class="select_language">
            <option>English</option>
            <option>Sweden</option>
            <option>Denmark</option>
            <option>Iceland</option>
            <option>Finland</option>
        </select>
        <div class="right_circle"></div>
    </nav>
    <div class="main_container">
        <div class="fooled_heading">You have been fooled by shreya.</div>
        <div class="fooled_subheading">Your name and name of your love has been shared with shreya</div>
        <div class="fooled_gif">
            <img src="./pranked.gif" alt="fooledimage"/>
        </div>
        <div class="fooled_register_text">Register now to prank your friends.</div>
        <button class="fooled_lovemeter_button">Register</button>
        <div class="share_last_text fooled_last_text">The GENUINE LOVE METER only for you.Know your love percentage.</div>
        <button class="genuine_lovemeter_button">Click Here</button>
    </div>
    <div class="footer">
        <div class="social_links">
            <a href="https://www.facebook.com/BuddyMojo-622383398186210/" target="_blank"><img src="./face.png"></a><a href="https://www.instagram.com/buddymojo1/" target="_blank"><img src="./insta.png"></a><a href="https://twitter.com/buddy_mojo"  target="_blank"><img src="./twit.png"></a>
        </div>	
        <div class="footer_contents">
            <a href="http://buddymojo.local/about-us">About us</a><a href="http://buddymojo.local/contact-us">Contact Us</a><a href="http://buddymojo.local/privacy-policy">Privacy Policy</a></br>
            <b>Disclaimer:</b> All content is provided for fun and entertainment purposes only     
            <div> 
                © 2019 Lovetwo All rights Reserved            
            </div>
        </div>
    </div>
</div>
<script src="./Custom.js"></script>
</body>
</html>