<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./bootstrap.css" />
</head>
<body>
<div class="root">
    <nav class="heading" id="menuHeading">
        <div class="menu_link" onclick="toggleMenu()" id="menuLinkHandler">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="left_circle" id="menuLink">
            <div class="link_list">
                <div class="link_home link">Home</div>
                <div class="link_about link">About</div>
                <div class="link_contact link">Contact</div>
                <div class="link_faq link">FAQ</div>
            </div>
        </div>
        <div class="logo">
            <a>
                <img src="logo.png"/>
            </a>
        </div>
        <div class="change_language" id="">
            <a>
                <img src="globe.png"/>
            </a>
        </div>
        <select class="select_language">
            <option>English</option>
            <option>Sweden</option>
            <option>Denmark</option>
            <option>Iceland</option>
            <option>Finland</option>
        </select>
        <div class="right_circle"></div>
    </nav>
    <div class="main_container">
        <h1 class="share_heading">Your LoveMeter Prank is Ready!</h1>
        <p class="share_page_subheading">Share your prank-link with your friends!</p>
        <div class="share_link">https://lovemeter.me/match/d88E</div>
        <div class="link_copied">Link Copied</div>
        <button class="copy_link">Copy Link</button>
        <div class="whatsapp_share_icon whatsapp_share">
            <a>
                <img src='https://buddymojo.com/public/images//wats.png'/> Share
            </a>
        </div>
        <div class="share_icon fb_share">
            <a>
                <img src='https://buddymojo.com/public/images//facebook.png'/> Share
            </a>
        </div><div class="share_icon snapchat_share">
            <a>
                <img src='https://buddymojo.com/public/images//snapchat.png'/> Share
            </a>
        </div><div class="share_icon messanger_share">
            <a>
                <img src='https://buddymojo.com/public/images//messanger.png'/> Share
            </a>
        </div><div class="share_icon twitter_share">
            <a>
                <img src='https://buddymojo.com/public/images//messanger.png'/> Share
            </a>
        </div><div class="share_icon instagram_share">
            <a>
                <img src='https://buddymojo.com/public/images//instagram.png'/> Share
            </a>
        </div><div class="share_icon whatsapp_share">
            <a>
                <img src='https://buddymojo.com/public/images//wats.png'/> Share
            </a>
        </div><div class="share_icon line_share">
            <a>
                <img src='https://buddymojo.com/public/images//line.png'/> Share
            </a>
        </div><div class="share_icon kakao_share">
            <a><img src='https://buddymojo.com/public/images//kakao.png'/> Share</a>
        </div>
        <div class="vk_share_icon vk_share">
            <a><img src='https://buddymojo.com/public/images//vk.png'/> Add to Bio</a>
        </div>

        <!-- <div class="share_blank_data">
            No Entries made till now. Share the link to prank your friends.
        </div> -->
        <div class="share_table_heading">
            <div>Friend Name</div>
            <div>Crush Name</div>
            <div>Delete</div>
        </div>

        <div class="share_table_data">
            <div>Shreya
                <div class="male_svg share_gender">
                    <img src="./male.svg" width="11px"/>
                </div>
            </div>
            <div>Shreya
                <div class="female_svg share_gender">
                    <img src="./female.svg" width="11px"/>
                </div>
            </div>
            <div>
                <img src="./trash.svg" class="trash" width="20px"/>
            </div>
        </div>

        <div class="share_table_data">
            <div>Shreya
                <div class="male_svg share_gender">
                    <img src="./male.svg" width="11px"/>
                </div>
            </div>
            <div>Shreya
                <div class="male_svg share_gender">
                    <img src="./male.svg" width="11px"/>
                </div>
            </div>
            <div>
                <img src="./trash.svg" class="trash" width="20px"/>
            </div>
        </div>
        <div class="share_last_text">The GENUINE LOVE METER only for you.Know your love percentage.</div>
        <button class="genuine_lovemeter_button">Click Here</button>
    </div>
    <div class="footer">
        <div class="social_links">
            <a href="https://www.facebook.com/BuddyMojo-622383398186210/" target="_blank"><img src="./face.png"></a><a href="https://www.instagram.com/buddymojo1/" target="_blank"><img src="./insta.png"></a><a href="https://twitter.com/buddy_mojo"  target="_blank"><img src="./twit.png"></a>
        </div>	
        <div class="footer_contents">
            <a href="http://buddymojo.local/about-us">About us</a><a href="http://buddymojo.local/contact-us">Contact Us</a><a href="http://buddymojo.local/privacy-policy">Privacy Policy</a></br>
            <b>Disclaimer:</b> All content is provided for fun and entertainment purposes only     
            <div> 
                © 2019 Lovetwo All rights Reserved            
            </div>
        </div>
    </div>
</div>
<script src="./Custom.js"></script>
</body>
</html>